@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes tilt {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(0.5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-0.5deg);
    }
  }
  
  .animate-tilt {
    animation: tilt 4s ease-in-out infinite;
  }
  